<p>
    Beste <b>{{ name }}</b>,
</p>

<p>
    Om toegang te krijgen tot uw account bij het
    Maerquin speler systeem, hoeft u alleen nog een
    persoonlijk en veilig wachtwoord in te stellen.
</p>

<p>
    Dit kan eenvoudig via de onderstaande link.<br/>
    <br/>
    <a href="https://maerquin-v3.savagetiger.org/reset-password/{{ hash }}.html">
        https://maerquin-v3.savagetiger.org/reset-password/{{ hash }}.html
    </a>
</p>
<br/>
<i>TIM</i>,
<b>De Maerquin Orga</b>
