version: '3.8'

services:
  nginx:
    image: nginx:latest
    container_name: nginx_container_maerquin
    ports:
      - "8080:80"
    volumes:
      - ./maerquin-v3:/var/www/html
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - php84

  php84:
    image: chialab/php:8.4-fpm-alpine
    container_name: php84_container_maerquin
    ports:
      - "9000:9000"
    volumes:
      - ./maerquin-v3:/var/www/html
    depends_on:
      - db
      - valkey

  valkey:
    image: valkey/valkey
    container_name: valkey_container_maerquin
    ports:
      - "6379:6379"

  db:
    image: mysql:latest
    container_name: mysql_container_maerquin
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: src
      MYSQL_USER: user
      MYSQL_PASSWORD: userpass
    expose:
      - "3306"
    ports:
      - "3306:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql
