{% extends 'skeleton.html.twig' %}

{% block container %}

    <div class="columns is-gapless">
        <div class="column is-12 is-gapless">
            <div class="field is-pulled-right has-addons">
                &nbsp;
                <div class="control">
                    <input class="input" type="text" v-model="search" placeholder="Zoeken">
                </div>
            </div>
            <button class="button is-pulled-right"><i class="fa-solid fa-user-plus"></i>&nbsp;Nieuwe aanmaken
            </button>
        </div>
    </div>

    <div class="columns is-gapless">
        <div class="column is-12">

            <table class="table is-bordered is-striped is-narrow is-hoverable is-overview-table">
                <tr>
                    <th>Naam</th>
                    <th>Speler</th>
                </tr>
                <tr v-for="character in characters" :key="character.id">
                    <td class="is-clickable" @click="navigateToCharacter(character.id)">
                        <a href="#">{{ '{{ character.name }}' }}</a>
                    </td>
                    <td>
                        ???
                    </td>
                </tr>
            </table>

        </div>
    </div>

    <script>
        Vue.createApp({
            data() {
                return {
                    search: '',
                    characters: {{ characters.serialize|json_encode|raw }}
                };
            },
            computed: {},
            methods: {
                navigateToCharacter(characterId) {
                    document.location.href = `/admin/characters/${characterId}.html`;
                }
            }
        }).mount('.content');
    </script>

{% endblock %}
