{% extends 'skeleton.html.twig' %}

{% block container %}

    <div class="columns is-gapless">
        <div class="column is-12 is-gapless">
            <div class="field is-pulled-right has-addons">
                &nbsp;
                <div class="control">
                    <input class="input" type="text" v-model="search" placeholder="Zoeken">
                </div>
            </div>
            <button class="button is-pulled-right"><i class="fa-solid fa-user-plus"></i>&nbsp;Nieuwe aanmaken
            </button>
        </div>
    </div>

    <div class="columns is-gapless">
        <div class="column is-12">
        </div>
    </div>

{% endblock %}
