{% extends 'skeleton.html.twig' %}

{% block container %}
    {% if token %}

        <div class="columns is-gapless">
            <div class="column is-12">
                <button class="button is-pulled-right"
                        onclick="return false"
                        @click="savePlayer('{{ player.id }}')">
                    <i class="fa-solid fa-save"></i>&nbsp;Opslaan
                </button>
                &nbsp;
            </div>
        </div>

        <div class="spacer is-12"></div>
        <div class="columns is-gapless">
            <div class="column is-12">
                <article class="message is-dark">
                    <div class="message-header">
                        Wachtwoord instellen
                    </div>
                    <div class="message-body">

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Gebruikersnaam</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" name="name" disabled="disabled" type="text"
                                               value="blablab" placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Gewenste wachtwoordt</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" name="name" type="text"
                                               value="{{ player.name }}" placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Herhaal wachtwoordt</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" name="name" type="text"
                                               value="{{ player.name }}" placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    {% else %}
        <div class="spacer is-12"></div>
        <div class="columns is-gapless">
            <div class="column is-12">
                <article class="message is-dark">
                    <div class="message-header">
                        Wachtwoord instellen
                    </div>
                    <div class="message-body">

                        <div class="field is-horizontal">
                            De email link is ongeldig of verlopen.
                        </div>

                    </div>
                </article>
            </div>
        </div>
    {% endif %}

    <script type="module">
        Vue.createApp({
            data() {
            },
        }).mount('.content');
    </script>
{% endblock %}
