{% extends 'skeleton.html.twig' %}

{% block container %}
    {% if token and persisted == false %}

        <div class="spacer is-12"></div>
        <div class="columns is-gapless">
            <div class="column is-12">
                <article class="message is-dark">
                    <div class="message-header">
                        Wachtwoord instellen
                    </div>
                    <div class="message-body">

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Gebruikersnaam</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" name="name" disabled="disabled" type="text"
                                               value="{{ token.user.name }}" placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Gewenste wachtwoordt</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" name="password" type="password"
                                               value="" placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">Herhaal wachtwoordt</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control">
                                        <input class="input" name="passwordRepeat" type="password"
                                               value="" placeholder=""/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>

        <div class="columns is-gapless">
            <div class="column is-12">
                <button class="button is-fullwidth"
                        onclick="return false"
                        @click="resetPassword()">
                    <i class="fa-solid fa-save"></i>&nbsp;Opslaan
                </button>
                &nbsp;
            </div>
        </div>

    {% else %}
        <div class="spacer is-12"></div>
        <div class="columns is-gapless">
            <div class="column is-12">
                <article class="message is-dark">
                    <div class="message-header">
                        Wachtwoord instellen
                    </div>
                    <div class="message-body">

                        {% if persisted %}

                            <div class="field is-horizontal">
                                Het nieuwe wachtwoord is ingesteld.
                            </div>

                        {% else %}

                            <div class="field is-horizontal">
                                De email link is ongeldig of verlopen.
                            </div>

                        {% endif %}
                    </div>
                </article>
            </div>
        </div>
    {% endif %}

    <script type="module">
        Vue.createApp({
            data() {
            },
            methods: {
                resetPassword() {
                    const passwordForm = serializeForm('containerForm');

                    axios
                        .post(`/reset-password/{{ token.value }}.html`, { password: passwordForm })
                        .then(() => {
                            document.location.href = `/reset-password/persisted/{{ token.value }}.html`
                        })
                        .catch((error) => {
                            const message = error.response.data.error.description;

                            alert(message);
                        });

                    return false;
                },
            }
        }).mount('.content');
    </script>
{% endblock %}
