{% extends 'base.html.twig' %}

{% block main %}
    <nav class="navbar is-fixed-top has-background-primary-25" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="logo">
                <i class="fa-solid fa-book-skull"></i>&nbsp;Maerquin Character Database
            </div>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                {% if getUser().isAdmin %}
                    <a href="/admin/players.html"
                       class="navbar-item {% if 'player' in current_url() %}is-active{% endif %}">
                        <i class="fa-solid fa-user-group"></i> Spelers
                    </a>

                    <a href="/admin/subscriptions.html"
                       class="navbar-item {% if 'subscriptions' in current_url() %}is-active{% endif %}">
                        <i class="fa-solid fa-people-roof"></i> Inschrijvingen
                    </a>

                    <a href="/admin/characters.html"
                       class="navbar-item {% if 'character' in current_url() %}is-active{% endif %}">
                        <i class="fa-solid fa-hat-wizard"></i> Karakters
                    </a>

                    <a href="/admin/events.html"
                       class="navbar-item {% if 'event' in current_url() %}is-active{% endif %}">
                        <i class="fa-regular fa-calendar-days"></i> Evenementen
                    </a>

                    <a href="/admin/skills.html"
                       class="navbar-item {% if 'skills' in current_url() %}is-active{% endif %}">
                        <i class="fa-solid fa-scroll"></i> Skills
                    </a>

                    <a href="/admin/races.html"
                       class="navbar-item {% if 'races' in current_url() %}is-active{% endif %}">
                        <i class="fa-solid fa-hand-spock"></i> Rassen
                    </a>
                {% endif %}
            </div>

            {% if getUser().username %}
                <a href="/logout.html"
                   class="navbar-item is-pulled-right">
                    <i class="fa-solid fa-door-open"></i> Uitloggen ({{ getUser().username|capitalize }})
                </a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        <form id="containerForm">
            {% block container %}
            {% endblock %}
        </form>
    </div>
{% endblock %}
