{% extends 'base.html.twig' %}

{% block main %}
    <nav class="navbar is-fixed-top has-background-primary-25" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div class="logo">
                <i class="fa-solid fa-book-skull"></i>&nbsp;Maerquin Character Database
            </div>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">
                <a href="/admin/players.html" class="navbar-item">
                    Spelers
                </a>
            </div>
        </div>
    </nav>

    {% block container %}
    {% endblock %}
{% endblock %}
