{% extends 'skeleton.html.twig' %}

{% block container %}

    <div class="columns is-gapless">
        <div class="column is-12">
            <button onclick="return false" class="button is-pulled-right" @click="saveSkill('{{ skill.id }}')">
                <i class="fa-solid fa-save"></i>&nbsp;Opslaan
            </button>
            &nbsp;
        </div>
    </div>

    {% if persisted %}
        <article class="message is-success">
            <div class="message-header">
                <p>Opgeslagen</p>
            </div>
            <div class="message-body">
                De skill is succesvol opgeslagen.
            </div>
        </article>
    {% endif %}

    <article class="message is-dark" id="skillForm">
        <div class="message-header">
            {% if skill.name %}
                {{ skill.name }}
            {% else %}
                Nieuwe skill aanmaken
            {% endif %}
        </div>
        <div class="message-body">

            <div class="tabs is-toggle is-fullwidth mr-6 ml-4">
                <ul>
                    <li :class="{ 'is-active': activeTab === 'settings' }">
                        <a @click="activeTab = 'settings'">
                            <span class="icon is-small">
                                <i class="fa-solid fa-clipboard-list"></i>
                            </span>
                            <span>Instellingen</span>
                        </a>
                    </li>

                    <li :class="{ 'is-active': activeTab === 'coupledCharacters' }">
                        <a @click="activeTab = 'coupledCharacters'">
                            <span class="icon is-small">
                                <i class="fa-solid fa-users" aria-hidden="true"></i>
                            </span>
                            <span>Gekoppelde gebruikers</span>
                        </a>
                    </li>
                </ul>
            </div>


            <div v-show="activeTab === 'settings'">
                {% include 'skill_tab_settings.html.twig' %}
            </div>

            <div v-show="activeTab === 'coupledCharacters'">
                {% include 'skill_tab_coupled_characters.html.twig' %}
            </div>
        </div>
    </article>

    <script type="module">
        Vue.createApp({
            data() {
                return {
                    activeTab: 'settings',
                }
            },
            methods: {
                saveSkill(skillId) {
                    const skillForm = serializeForm('containerForm');

                    axios
                        .post(`/admin/skills/${skillId}.html`, { skill: skillForm })
                        .then(() => {
                            document.location.href = `/admin/skills/persisted/${skillId}.html`
                        })
                        .catch((error) => {
                            const message = error.response.data.error.description;

                            alert(message);
                        });

                    return false;
                },

                navigateToCharacter(characterId) {
                    window.open(
                        `/admin/characters/${characterId}.html`,
                        '_blank'
                    );
                }
            }
        }).mount('.content');
    </script>
{% endblock %}
